@charset "UTF-8";
html {
    background: #f1eee9;
}

div.c {
  text-align: right
}

body {
    background: #f1eee9;
    font-family: "alga", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1 {
    color: #cd6a9f;
    font-weight: 600;
    line-height: 1.3;
}

.forward {
    text-align: right;
}

.backward {
    text-align: right;
}

.main {
    color: #b48873;
}

.sub {
    color: #dab6a4;
}

/*first one*/
.animated {
  font-family: "alga", Arial, sans-serif;
  animation: myAnimation 3s ease 1s 3 alternate forwards;
}

@keyframes myAnimation {
  100% {
    font-size: 3em;
  }
}

/*second one*/
.tweet {
  font-family: "alga", Arial, sans-serif;
  color: #b48873;
  animation: myTweet2 5s ease 1s 3 alternate forwards;
}

@keyframes myTweet2 {
  33% {
    text-shadow: 2px 2px 2px hotpink;
  }
  66% {
    text-shadow: -2px -2px 2px aqua;
  }
}

/*third one*/
.out {
max-width: 0%;
overflow: hidden;
animation: myOut 2s ease 1s 3 alternate forwards;
}

@keyframes myOut {
	100% {
	  max-width: 100%;
	}
}

/*fourth one*/
body {
  font-family: "alga", Arial, sans-serif;
}
button {
  border: 0;
  background: #dab6a4;
  border-radius: 100px;
  color: #dab6a4;
  cursor: pointer;
  font: inherit;
  margin: 100;
  outline: 10;
  padding: 10px 10px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #dab6a4;
  transform: translateY(5px);
}

/*fifth one*/
.shopping {
  font-family: "alga", Arial, sans-serif;
  animation: myShrink 3s ease 1s 3 alternate forwards;
}

@keyframes myShrink {
  100% {
    font-size: 3em;
  }
}


/*sixth one*/
 .blink{
    width:800px;
    height: 10px;
    background-color: #f1eee9;
    padding: 15px;  
    text-align: center;
    line-height: 10px;
  }
  span{
    font-size: 100px;
    font-family: "alga", Arial, sans-serif;
    color: #b48873;
    animation: blink 1s linear infinite;
  }
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}


/*seventh one*/
.bright {
  font-family: "alga", Arial, sans-serif;
  color: #b48873;
  animation: myBrightness 5s ease 1s 3 alternate forwards;
}

@keyframes myBrightness {
  33% {
    text-shadow: 2px 2px 2px yellow;
  }
  66% {
    text-shadow: -2px -2px 2px black;
  }
}


/*eighth one*/
.expand {
  animation: myExpantion 3s ease 1s 3 alternate forwards;
}

@keyframes myExpantion {
  100% {
    font-weight: 900;
  }
}


/*ninth one*/
body {
    background: #f1eee9;
    font-family: "alga", Arial, sans-serif;
}
h1 {
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 900
}
h1:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 50em;
    white-space: nowrap;
    color: #b48873;
    animation: loading 8s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}
}




/*tenth one*/
.wavey{
body,html{margin:0;padding:0;height:100%;}
body{
  font-family: "alga", Arial, sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
svg{font-weight:bold;max-width:600px;height:100%;}
}









